html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body,
h1,
h2 {
  margin: 0;
}

.App {
  text-align: center;
}

/* .App-logo {
  position: relative;
  width: 80px;
  top: 30px;
  left: 140px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: book infinite 13s linear;
  }
} */

.App-header {
  position: sticky;
  top: 0;
  background-color: #e4e4e4;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  font-size: 1.3rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

nav li:hover {
  text-shadow: 0.05rem 00 rgba(255,0,0,0.75),
  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}


.mainbody {
  max-width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-content: center;
  border: thick solid black;
}

.glitch {
  margin: 10%;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05rem 00 rgba(255,0,0,0.75),
  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: -0.05em 0 0 rgba(46, 28, 207, 0.75),
    0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.05em 0 rgba(0,0,255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(33, 13, 217, 0.75),
    0.025em 0.025em 0 rgba(56, 35, 218, 0.75),
    -0.05em -0.05em 0 rgba(60, 60, 65, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75), 
    0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100%{
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes book {
   
    0% {left:30px; top: 20px;}
    20% {left:60px; top: 45px;}
    70% {left:35px; top: 50px;}
    100% {left:30px; top: 0px;};
  }
  
